<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>Mozilla Reps</title>
  
    <!-- Included CSS Files -->
    <link rel="stylesheet" href="stylesheets/foundation.css">
    <link rel="stylesheet" href="stylesheets/app.css">
    <link rel="stylesheet" href="openlayers/theme/default/style.css" type="text/css">

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->


    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

    <!-- container -->
    <div class="container">

        <!-- Header -->
        <header class="row">
            <div class="twelve columns">

                <!-- Sign In & Mozilla Tab -->
                <div class="row">

                    <!-- Mozilla Tab -->
                    <div class="two columns push-ten" id="global-header-tab">
                        <a href="http://mozilla.org/"><img src="images/mozilla-tab.png" alt="mozilla.org"></a>
                    </div>

                    <!-- Sign In & Sign Out -->
                    <div class="ten columns pull-two" id="login-box">
                        <ul>
                            <li class="account anonymous nomenu logout"><a href="/login">Sign in with BrowserID</a></li>
                        </ul>
                    </div>

                </div>
                
                <!-- Logo & Navigation -->
                <div class="row">
                    
                    <!-- Logo and Wordmark -->
                    <div class="four columns" id="logo-box">
                        <div class="row">
                                <img src="images/remo_logo_medium.png">
                                <h3>mozilla reps</h3>
                        </div>
                    </div>
                
                    <!-- Navigation -->
                    <div class="eight columns" id="navigation-box">
                        <ul class="nav-bar">
                            <li>
                                <a href="#" class="main">Main</a>
                                </li>
                            <li>
                                <a href="#" class="main">People</a>
                            </li>
                            <li>
                                <a href="https://wiki.mozilla.org/ReMo/Events" class="main">Events</a>
                            </li>
                            <li>
                                <a href="#" class="main" data-reveal-id="labs-modal">Labs</a>
                            </li>
                            <li>
                                <a href="http://planet.mozillareps.org" class="main">Planet</a>
                            </li>
                            <li>
                                <a href="https://wiki.mozilla.org/ReMo" class="main">Wiki</a>
                            </li>
                            <li class="last">
                                <a href="#" class="main" data-reveal-id="join-modal">Join</a>
                            </li>
                        </ul>
                    </div>

                </div>         
            </div>
        </header>

        <!-- Separator -->
        <div class="row">
            <hr />
        </div>

        <div class="row">
            <div class="alert-box success">
                Profile updated successfully.
                <a href="" class="close">&times;</a>
            </div>

            <div class="alert-box error">
                There was an error in updating the profile.
                <a href="" class="close">&times;</a>
            </div>
        </div>

        <!-- Page Content -->



        <!-- Sample inputs -->

        <div class="row">
            <div class="twelve columns">
                <h4> Editing profile of ppapadeas </h4>
            </div>
        </div>

        <form class="custom">

        <!-- Two column block -->

        <div class="row">

            <div class="six columns">
                <div class="row">
                    <div class="one columns pictogram">
                        J
                    </div>
                    <div class="eleven columns">
                        <input type="text" placeholder="Nickname" class="input-text big">
                        <input type="text" placeholder="Last name" class="input-text big">
                        <small class="error">There is an error here.</small>
                        <input type="text" placeholder="First name" class="input-text big">
                        <small class="error">There is an error here.</small>
                        <input type="text" placeholder="Name in local language" class="input-text big">
                        <label>Birthyear:</label>
                        <div class="custom dropdown">
                            <a href="#" class="current">1988</a>
                            <a href="#" class="selector"></a>
                            <ul>
                                <li>1950</li>
                                <li>1951</li>
                                <li>1952</li>
                                <li>1953</li>
                                <li>1954</li>
                                <li>1955</li>
                                <li>1956</li>
                                <li>1957</li>
                                <li>1958</li>
                                <li>1959</li>
                                <li>1960</li>
                                <li>1961</li>
                                <li>1962</li>
                                <li>1963</li>
                                <li>1964</li>
                                <li>1965</li>
                                <li>1966</li>
                                <li>1967</li>
                                <li>1968</li>
                                <li>1969</li>
                                <li>1970</li>
                                <li>1971</li>
                                <li>1972</li>
                                <li>1973</li>
                                <li>1974</li>
                                <li>1975</li>
                                <li>1976</li>
                                <li>1977</li>
                                <li>1978</li>
                                <li>1979</li>
                                <li>1980</li>
                                <li>1981</li>
                                <li>1982</li>
                                <li>1983</li>
                                <li>1984</li>
                                <li>1985</li>
                                <li>1986</li>
                                <li>1987</li>
                                <li>1988</li>
                                <li>1989</li>
                                <li>1990</li>
                                <li>1991</li>
                                <li>1992</li>
                                <li>1993</li>
                                <li>1994</li>
                                <li>1995</li>
                                <li>1996</li>
                                <li>1997</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="six columns">
                <div class="row">
                    <div class="one columns pictogram">
                        A
                    </div>
                    <div class="eleven columns" id="profile-image">
                        <img src="http://dummyimage.com/128/666/ccc.png"><br>
                        <span id="profile-image">Profile images are linked to your bugzilla mail <br>and are hosted in <a href="https://libravatar.org">libravatar.org</a></span>
                    </div>
                </div>
            </div>
                     
        </div>


        <div class="row">

            <div class="six columns">
                <div class="row">
                    <div class="one columns pictogram">
                        @
                    </div>
                    <div class="eleven columns">
                        <input type="text" placeholder="Personal email" class="input-text big">
                        <input type="text" placeholder="Bugzilla email" class="input-text big">
                        <input type="text" placeholder="Mozillians.org profile" class="input-text big">
                    </div>
                </div>
            </div>


            <div class="six columns">
                <div class="row">
                    <div class="one columns pictogram">
                        p
                    </div>
                    <div class="eleven columns">
                        <input type="text" placeholder="City" class="input-text big">
                        <input type="text" placeholder="Region" class="input-text big">
                        <select name="country" class"input-text big">
                            <option value="">Country...</option>
                            <option value="Afganistan">Afghanistan</option>
                            <option value="Albania">Albania</option>
                            <option value="Algeria">Algeria</option>
                            <option value="American Samoa">American Samoa</option>
                            <option value="Andorra">Andorra</option>
                            <option value="Angola">Angola</option>
                            <option value="Anguilla">Anguilla</option>
                            <option value="Antigua &amp; Barbuda">Antigua &amp; Barbuda</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Armenia">Armenia</option>
                            <option value="Aruba">Aruba</option>
                            <option value="Australia">Australia</option>
                            <option value="Austria">Austria</option>
                            <option value="Azerbaijan">Azerbaijan</option>
                            <option value="Bahamas">Bahamas</option>
                            <option value="Bahrain">Bahrain</option>
                            <option value="Bangladesh">Bangladesh</option>
                            <option value="Barbados">Barbados</option>
                            <option value="Belarus">Belarus</option>
                            <option value="Belgium">Belgium</option>
                            <option value="Belize">Belize</option>
                            <option value="Benin">Benin</option>
                            <option value="Bermuda">Bermuda</option>
                            <option value="Bhutan">Bhutan</option>
                            <option value="Bolivia">Bolivia</option>
                            <option value="Bonaire">Bonaire</option>
                            <option value="Bosnia &amp; Herzegovina">Bosnia &amp; Herzegovina</option>
                            <option value="Botswana">Botswana</option>
                            <option value="Brazil">Brazil</option>
                            <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                            <option value="Brunei">Brunei</option>
                            <option value="Bulgaria">Bulgaria</option>
                            <option value="Burkina Faso">Burkina Faso</option>
                            <option value="Burundi">Burundi</option>
                            <option value="Cambodia">Cambodia</option>
                            <option value="Cameroon">Cameroon</option>
                            <option value="Canada">Canada</option>
                            <option value="Canary Islands">Canary Islands</option>
                            <option value="Cape Verde">Cape Verde</option>
                            <option value="Cayman Islands">Cayman Islands</option>
                            <option value="Central African Republic">Central African Republic</option>
                            <option value="Chad">Chad</option>
                            <option value="Channel Islands">Channel Islands</option>
                            <option value="Chile">Chile</option>
                            <option value="China">China</option>
                            <option value="Christmas Island">Christmas Island</option>
                            <option value="Cocos Island">Cocos Island</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Comoros">Comoros</option>
                            <option value="Congo">Congo</option>
                            <option value="Cook Islands">Cook Islands</option>
                            <option value="Costa Rica">Costa Rica</option>
                            <option value="Cote DIvoire">Cote D'Ivoire</option>
                            <option value="Croatia">Croatia</option>
                            <option value="Cuba">Cuba</option>
                            <option value="Curaco">Curacao</option>
                            <option value="Cyprus">Cyprus</option>
                            <option value="Czech Republic">Czech Republic</option>
                            <option value="Denmark">Denmark</option>
                            <option value="Djibouti">Djibouti</option>
                            <option value="Dominica">Dominica</option>
                            <option value="Dominican Republic">Dominican Republic</option>
                            <option value="East Timor">East Timor</option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="Egypt">Egypt</option>
                            <option value="El Salvador">El Salvador</option>
                            <option value="Equatorial Guinea">Equatorial Guinea</option>
                            <option value="Eritrea">Eritrea</option>
                            <option value="Estonia">Estonia</option>
                            <option value="Ethiopia">Ethiopia</option>
                            <option value="Falkland Islands">Falkland Islands</option>
                            <option value="Faroe Islands">Faroe Islands</option>
                            <option value="Fiji">Fiji</option>
                            <option value="Finland">Finland</option>
                            <option value="France">France</option>
                            <option value="French Guiana">French Guiana</option>
                            <option value="French Polynesia">French Polynesia</option>
                            <option value="French Southern Ter">French Southern Ter</option>
                            <option value="Gabon">Gabon</option>
                            <option value="Gambia">Gambia</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Germany">Germany</option>
                            <option value="Ghana">Ghana</option>
                            <option value="Gibraltar">Gibraltar</option>
                            <option value="Great Britain">Great Britain</option>
                            <option value="Greece">Greece</option>
                            <option value="Greenland">Greenland</option>
                            <option value="Grenada">Grenada</option>
                            <option value="Guadeloupe">Guadeloupe</option>
                            <option value="Guam">Guam</option>
                            <option value="Guatemala">Guatemala</option>
                            <option value="Guinea">Guinea</option>
                            <option value="Guyana">Guyana</option>
                            <option value="Haiti">Haiti</option>
                            <option value="Hawaii">Hawaii</option>
                            <option value="Honduras">Honduras</option>
                            <option value="Hong Kong">Hong Kong</option>
                            <option value="Hungary">Hungary</option>
                            <option value="Iceland">Iceland</option>
                            <option value="India">India</option>
                            <option value="Indonesia">Indonesia</option>
                            <option value="Iran">Iran</option>
                            <option value="Iraq">Iraq</option>
                            <option value="Ireland">Ireland</option>
                            <option value="Isle of Man">Isle of Man</option>
                            <option value="Israel">Israel</option>
                            <option value="Italy">Italy</option>
                            <option value="Jamaica">Jamaica</option>
                            <option value="Japan">Japan</option>
                            <option value="Jordan">Jordan</option>
                            <option value="Kazakhstan">Kazakhstan</option>
                            <option value="Kenya">Kenya</option>
                            <option value="Kiribati">Kiribati</option>
                            <option value="Korea North">Korea North</option>
                            <option value="Korea Sout">Korea South</option>
                            <option value="Kuwait">Kuwait</option>
                            <option value="Kyrgyzstan">Kyrgyzstan</option>
                            <option value="Laos">Laos</option>
                            <option value="Latvia">Latvia</option>
                            <option value="Lebanon">Lebanon</option>
                            <option value="Lesotho">Lesotho</option>
                            <option value="Liberia">Liberia</option>
                            <option value="Libya">Libya</option>
                            <option value="Liechtenstein">Liechtenstein</option>
                            <option value="Lithuania">Lithuania</option>
                            <option value="Luxembourg">Luxembourg</option>
                            <option value="Macau">Macau</option>
                            <option value="Macedonia">Macedonia</option>
                            <option value="Madagascar">Madagascar</option>
                            <option value="Malaysia">Malaysia</option>
                            <option value="Malawi">Malawi</option>
                            <option value="Maldives">Maldives</option>
                            <option value="Mali">Mali</option>
                            <option value="Malta">Malta</option>
                            <option value="Marshall Islands">Marshall Islands</option>
                            <option value="Martinique">Martinique</option>
                            <option value="Mauritania">Mauritania</option>
                            <option value="Mauritius">Mauritius</option>
                            <option value="Mayotte">Mayotte</option>
                            <option value="Mexico">Mexico</option>
                            <option value="Midway Islands">Midway Islands</option>
                            <option value="Moldova">Moldova</option>
                            <option value="Monaco">Monaco</option>
                            <option value="Mongolia">Mongolia</option>
                            <option value="Montserrat">Montserrat</option>
                            <option value="Morocco">Morocco</option>
                            <option value="Mozambique">Mozambique</option>
                            <option value="Myanmar">Myanmar</option>
                            <option value="Nambia">Nambia</option>
                            <option value="Nauru">Nauru</option>
                            <option value="Nepal">Nepal</option>
                            <option value="Netherland Antilles">Netherland Antilles</option>
                            <option value="Netherlands">Netherlands (Holland, Europe)</option>
                            <option value="Nevis">Nevis</option>
                            <option value="New Caledonia">New Caledonia</option>
                            <option value="New Zealand">New Zealand</option>
                            <option value="Nicaragua">Nicaragua</option>
                            <option value="Niger">Niger</option>
                            <option value="Nigeria">Nigeria</option>
                            <option value="Niue">Niue</option>
                            <option value="Norfolk Island">Norfolk Island</option>
                            <option value="Norway">Norway</option>
                            <option value="Oman">Oman</option>
                            <option value="Pakistan">Pakistan</option>
                            <option value="Palau Island">Palau Island</option>
                            <option value="Palestine">Palestine</option>
                            <option value="Panama">Panama</option>
                            <option value="Papua New Guinea">Papua New Guinea</option>
                            <option value="Paraguay">Paraguay</option>
                            <option value="Peru">Peru</option>
                            <option value="Phillipines">Philippines</option>
                            <option value="Pitcairn Island">Pitcairn Island</option>
                            <option value="Poland">Poland</option>
                            <option value="Portugal">Portugal</option>
                            <option value="Puerto Rico">Puerto Rico</option>
                            <option value="Qatar">Qatar</option>
                            <option value="Republic of Montenegro">Republic of Montenegro</option>
                            <option value="Republic of Serbia">Republic of Serbia</option>
                            <option value="Reunion">Reunion</option>
                            <option value="Romania">Romania</option>
                            <option value="Russia">Russia</option>
                            <option value="Rwanda">Rwanda</option>
                            <option value="St Barthelemy">St Barthelemy</option>
                            <option value="St Eustatius">St Eustatius</option>
                            <option value="St Helena">St Helena</option>
                            <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                            <option value="St Lucia">St Lucia</option>
                            <option value="St Maarten">St Maarten</option>
                            <option value="St Pierre &amp; Miquelon">St Pierre &amp; Miquelon</option>
                            <option value="St Vincent &amp; Grenadines">St Vincent &amp; Grenadines</option>
                            <option value="Saipan">Saipan</option>
                            <option value="Samoa">Samoa</option>
                            <option value="Samoa American">Samoa American</option>
                            <option value="San Marino">San Marino</option>
                            <option value="Sao Tome & Principe">Sao Tome &amp; Principe</option>
                            <option value="Saudi Arabia">Saudi Arabia</option>
                            <option value="Senegal">Senegal</option>
                            <option value="Seychelles">Seychelles</option>
                            <option value="Sierra Leone">Sierra Leone</option>
                            <option value="Singapore">Singapore</option>
                            <option value="Slovakia">Slovakia</option>
                            <option value="Slovenia">Slovenia</option>
                            <option value="Solomon Islands">Solomon Islands</option>
                            <option value="Somalia">Somalia</option>
                            <option value="South Africa">South Africa</option>
                            <option value="Spain">Spain</option>
                            <option value="Sri Lanka">Sri Lanka</option>
                            <option value="Sudan">Sudan</option>
                            <option value="Suriname">Suriname</option>
                            <option value="Swaziland">Swaziland</option>
                            <option value="Sweden">Sweden</option>
                            <option value="Switzerland">Switzerland</option>
                            <option value="Syria">Syria</option>
                            <option value="Tahiti">Tahiti</option>
                            <option value="Taiwan">Taiwan</option>
                            <option value="Tajikistan">Tajikistan</option>
                            <option value="Tanzania">Tanzania</option>
                            <option value="Thailand">Thailand</option>
                            <option value="Togo">Togo</option>
                            <option value="Tokelau">Tokelau</option>
                            <option value="Tonga">Tonga</option>
                            <option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</option>
                            <option value="Tunisia">Tunisia</option>
                            <option value="Turkey">Turkey</option>
                            <option value="Turkmenistan">Turkmenistan</option>
                            <option value="Turks &amp; Caicos Is">Turks &amp; Caicos Is</option>
                            <option value="Tuvalu">Tuvalu</option>
                            <option value="Uganda">Uganda</option>
                            <option value="Ukraine">Ukraine</option>
                            <option value="United Arab Erimates">United Arab Emirates</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="United States of America">United States of America</option>
                            <option value="Uraguay">Uruguay</option>
                            <option value="Uzbekistan">Uzbekistan</option>
                            <option value="Vanuatu">Vanuatu</option>
                            <option value="Vatican City State">Vatican City State</option>
                            <option value="Venezuela">Venezuela</option>
                            <option value="Vietnam">Vietnam</option>
                            <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                            <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                            <option value="Wake Island">Wake Island</option>
                            <option value="Wallis &amp; Futana Is">Wallis &amp; Futana Is</option>
                            <option value="Yemen">Yemen</option>
                            <option value="Zaire">Zaire</option>
                            <option value="Zambia">Zambia</option>
                            <option value="Zimbabwe">Zimbabwe</option>
                        </select>
                        <input type="hidden" placeholder="Latitude" class="input-text point-lat">
                        <input type="hidden" placeholder="Longitude" class="input-text point-long">
                        <div class="align-right"><a href="#" class="small white button nice radius" data-reveal-id="map-point" data-dismissmodalclass="close-reveal">point in map</a></div>
                    </div>
                </div>
            </div>
                     
        </div>

        <div class="row">

            <div class="six columns">
                <div class="row">
                    <div class="one columns pictogram">
                        T
                    </div>
                    <div class="eleven columns">
                        <input type="text" placeholder="Twitter handle" class="input-text big">
                        <input type="text" placeholder="Facebook profile" class="input-text big">
                        <input type="text" placeholder="Diaspora profile" class="input-text big">
                        <input type="text" placeholder="LinkedIn profile" class="input-text big">
                    </div>
                </div>
            </div>


            <div class="six columns">
                <div class="row">
                    <div class="one columns pictogram">
                        b
                    </div>
                    <div class="eleven columns">
                        <input type="text" placeholder="Jabber ID or other IM" class="input-text big">
                        <input type="text" placeholder="IRC nickname" class="input-text big">
                        <textarea class="flat" placeholder="Please list the channels you use in IRC"></textarea>
                    </div>
                </div>
            </div>
                     
        </div>

        <div class="row">

            <div class="six columns">
                <div class="row">
                    <div class="one columns pictogram">
                        w
                    </div>
                    <div class="eleven columns">
                        <input type="text" placeholder="Personal site URL" class="input-text big">
                        <input type="text" placeholder="Personal blog Feed" class="input-text big">
                    </div>
                </div>
            </div>


            <div class="six columns">
                <div class="row">
                    <div class="one columns pictogram">
                        V
                    </div>
                    <div class="eleven columns"><br>
                        <textarea class="flat" placeholder="Bio - Write us a bit about yourself"></textarea>
                    </div>
                </div>
            </div>
                                 
        </div>
        
        <div class="row">

            <div class="six columns">
            </div>


            <div class="six columns">
                <div class="row">
                    <div class="one columns pictogram">
                        W
                    </div>
                    <div class="eleven columns"><br>
                        <label for="admin-bit">
                            <input type="checkbox" id="admin-bit" style="display: none;">
                            <span class="custom checkbox"></span> Administrator
                        </label>
                        <label for="council-bit">
                            <input type="checkbox" id="council-bit" style="display: none;">
                            <span class="custom checkbox"></span> Council member
                        </label>
                        <label for="mentor-bit">
                            <input type="checkbox" id="mentor-bit" style="display: none;">
                            <span class="custom checkbox"></span> Mentor
                        </label>
                        <label for="rep-bit">
                            <input type="checkbox" id="rep-bit" style="display: none;">
                            <span class="custom checkbox"></span> Rep
                        </label>
                        <div class="align-right"><a href="#" class="small red button nice radius" data-reveal-id="delete-profile" data-dismissmodalclass="close-reveal">Delete profile</a></div>
                    </div>
                </div>
            </div>
                                 
        </div>
        <div class="row">
            <div id="save-profile" class="twelve columns align-right">
                <a href="#" class="medium blue button nice radius">Save profile</a>
            </div>
        </div>

        </form>

    </div>


    <!-- Footer -->
    <div id="footer">
        <div class="row">
            <hr />
        </div>
        <div id="footer-contents">
            <div id="copyright">
                <p id="footer-links"><a href="http://www.mozilla.org/en-US/privacy-policy.html">Privacy Policy</a> &nbsp;|&nbsp;
                <a href="http://www.mozilla.org/en-US/about/legal.html">Legal Notices</a> &nbsp;|&nbsp;
                <a href="http://www.mozilla.org/en-US/legal/fraud-report/index.html">Report Trademark Abuse</a></p>
                <p>Except where
                otherwise <a href="http://www.mozilla.org/en-US/about/legal.html#site">noted</a>,
                content on this site is licensed under the
                <br /><a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative
                Commons Attribution Share-Alike License v3.0</a> or any
                later version.</p>
            </div>
        </div>
    </div>

    <!-- Map Point Reveal Modal -->
    <div id="map-point" class="reveal-modal">
        <a class="close-reveal-modal">&#215;</a>
        <div class="row">
            <div class="twelve columns">
                <p class="lead">Please click your location in the map</p>
                <div id="map" class="smallmap"></div>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <input type="text" placeholder="Latitude" class="input-text point-lat-temp">
                <input type="text" placeholder="Longitude" class="input-text point-long-temp">
            </div>
            <div class="six columns use-those">
                <a href="#" class="small blue button nice radius close-reveal">Use those &raquo;</a>
            </div>
        </div>
    </div>

    <!-- Delete Profile Reveal Modal -->
    <div id="delete-profile" class="reveal-modal">
        <a class="close-reveal-modal">&#215;</a>
        <p class="lead">Are you sure you want to do that?</p>
        <h2>Warning!</h2>
        <p>By pressing the following button you will permanently and irreversibly delete the profile of this Rep.<p>
        <a href="#" class="large red button nice radius">Delete profile</a>
    </div>

    <!-- Labs Reveal Modal -->
    <div id="labs-modal" class="reveal-modal">
        <a class="close-reveal-modal">&#215;</a>
        <p class="lead">Reps is all about experimenting!</p>
        <h2>Labs are coming...</h2>
        <p>In this section of our site we will be developing, testing and showcasing awesome new tools for Mozilla Reps.<p>
        <p>Do you have what it takes to experiment and help us shape the future of Mozilla Reps tools? Drop by #remo-dev or subscribe to <a href="https://lists.mozilla.org/listinfo/reps-webdev">our mailing list</a> to share your ideas and start hacking!</p>
    </div>

    <!-- Included JS Files -->
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/modernizr.foundation.js"></script>
    <script src="javascripts/foundation.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="openlayers/OpenLayers.js"></script>
    <script src="javascripts/map-point.js"></script>

</body>
</html>
